* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $gray-500;
  font-family: "Montserrat", sans-serif;
  background-color: $gray-100;
}

.container {
  max-width: 895px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: $desktop-width) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: $tablet-width) {
  html {
    font-size: 87.5%;
  }

  .container {
    padding: 0 2.3rem;
  }
}
