$white: #ffffff;
$gray-100: #f2f2f2;
$gray-350: #a9a9a9;
$gray-400: #a8a8a8;
$gray-500: #848484;
$green-100: #75bc97;
$green-800: #1e6b4e;
$green-900: #15573f;
$green-950: #0c261c;

$desktop-width: 1080px;
$tablet-width: 783px;
