.gt-btn-block-outlined {
  color: $green-900;
  text-align: center;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid $green-900;
  border-radius: 25px;
  transition: all 200ms;

  &:hover,
  &:focus {
    color: $white;
    background-color: $green-900;

    svg {
      fill: $white;
    }
  }

  svg {
    fill: $green-900;
  }

  .gt-btn-arrow {
    position: relative;
    vertical-align: text-bottom;

    &.gt-btn-arrow-right {
      margin-right: 1rem;
    }
  }
}
