.gt-grid-plants {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem 1.7rem;
}

.gt-grid-plant-flag-favorite {
  display: none;
}

.gt-grid-plant {
  padding: 0 0.9rem 0.8rem;
  border-radius: 5px;
  background-color: $white;
}

.gt-grid-plant-wrap-image {
  position: relative;
  min-height: 176px;
  overflow: hidden;
}

.gt-grid-plant-image {
  max-width: 140px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gt-grid-plant-name {
  color: $green-800;
  font-weight: 700;
  padding: 0.4rem 0 0.6rem;
}

.gt-grid-plant-price {
  color: $green-800;
  font-weight: 700;
}

.gt-grid-plant-info {
  display: flex;
  justify-content: space-between;
}

.gt-grid-plant-characteristics {
  display: flex;

  li {
    & + li {
      margin-left: 0.4rem;
    }
  }
}

[class^="plant-icon-"] {
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.plant-icon-pet {
  background-image: url("../images/icons/pet.svg");
}
.plant-icon-low-sun {
  background-image: url("../images/icons/low-sun.svg");
}
.plant-icon-no-sun {
  background-image: url("../images/icons/no-sun.svg");
}
.plant-icon-high-sun {
  background-image: url("../images/icons/high-sun.svg");
}
.plant-icon-toxic {
  background-image: url("../images/icons/toxic.svg");
}
.plant-icon-one-drop {
  width: 15px;
  background-image: url("../images/icons/1-drop.svg");
}
.plant-icon-two-drops {
  width: 18px;
  background-image: url("../images/icons/2-drops.svg");
}
.plant-icon-three-drops {
  width: 27px;
  background-image: url("../images/icons/3-drops.svg");
}

.gt-grid-plant-favorite {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  padding: 4rem 1.5rem 1.7rem;

  .gt-grid-plant-flag-favorite {
    display: block;
    position: absolute;
    top: 31px;
    left: 0;
    width: 189px;
    height: 43px;
    border-radius: 0 20px 20px 0;
    background: $green-100 url("../images/illustrations/staff-favorite.png")
      no-repeat 21px 6px;
    z-index: 1;
  }

  .gt-grid-plant-wrap-image {
    min-height: 328px;
  }

  .gt-grid-plant-image {
    max-width: 100%;
    margin: 0 auto 1.4rem;
  }

  .gt-grid-plant-name {
    float: left;
    font-size: 2.2rem;
    max-width: 187px;
    line-height: 2.3rem;
  }

  .gt-grid-plant-info {
    flex-direction: column;
    align-items: flex-end;
    padding-top: 0.7rem;
  }

  .gt-grid-plant-price {
    font-size: 1.5rem;
  }

  .gt-grid-plant-characteristics {
    padding-top: 0.9rem;
  }

  [class^="plant-icon-"] {
    width: 35px;
    height: 35px;
  }

  .plant-icon-one-drop {
    width: 26px;
  }

  .plant-icon-three-drops {
    width: 45px;
  }
}
